<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../static/styles.css">
    <title>Chatbot</title>
</head>
<body>
    <div class="container">
        <button class="button"><img class="image" src="../static/chats.png" alt="Image"></button>
        <div class="chat-window" id="myForm">
            <form action="action.js"></form>

        </div>w
    </div>

    <!-- <script>
        $SCRIPT_ROOT = {{request.script_root | tojson}};
    </script> -->
    <script type="text/javascript" src="{{url_for('static',filename='script.js')}}"></script>
    
</body>
</html>